# Dependencias
node_modules/
.pnp
.pnp.*

# Build
.next/
out/
build/
dist/
*.tsbuildinfo
next-env.d.ts

# Entorno — NUNCA subir credenciales
.env
.env.*
!.env.example

# Sistema
.DS_Store
Thumbs.db
*.log
npm-debug.log*

# Editores
.vscode/*
!.vscode/extensions.json
.idea/

# Vercel
.vercel

# Prisma
prisma/*.db
